.employee-management {
  text-align: center;
  margin: 20px;
}
html{
  background-image: url('../assets/compact-home-gym-setup-services.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}

.tables-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.table-container {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #18c6bdb1;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.actions {
  display: flex;
  gap: 10px;
}

.edit-btn, .delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background-color: #14bfb3;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}
.Heading{
  margin-top: 100px;
  color:white;
}
@media (max-width:1178px){
  .tables-container{
    display:flex;
    flex-direction: column;
  }
}